body h2{
  margin-top:0;
  margin-bottom:0;
}
.container-fluid{
  padding-left:0;
  padding-right:0;
}
.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.6s ease-in-out;
}

.main-header .fa-bars {
  cursor: pointer;
}

.sidebar-header {
  padding: 20px;
  text-align: left;
  font-size: 1.5em;
  color: #fff;
}

.sidebar-header a {
  color: #fff;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  background:#343a40;
}

.sidebar-nav li {
  padding: 15px 20px;
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.content-section {
  padding: 20px;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.stat-card {
  flex-basis: 30%;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.stat-card h3 {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .custom-flex-sitewide{
    display: block!important;
  }
  .sample-btn-left-xs{
    text-align:start!important;
  }
}
.nav-tabs{
    width: max-content;
    border-bottom: 1px solid #000000;
}
.nav-link.active{
  background-color: #dc3545!important;
    color: #fff!important;
    border-bottom: 2px solid #000000 !important;
}
.nav-link:hover{
 border:1px solid transparent!important;
 color: #000000;
 border-bottom: 2px solid #000000 !important;
}
.nav-link{
color: #000000;
  cursor:pointer;
}
.small-box{
  color:#fff;
}